*{
   margin: 0px;
   padding: 0;
   text-decoration: none;
   list-style: none;
   font-family: sans-serif;
}

body{
  background: url(../img/Index.jpg);
  background-position: bottom center;
  height: 1080px;
}
/*==========================================================
    1. Header
===========================================================*/

/*==========================================================
    2. Nav
===========================================================*/

/*==========================================================
    3. Slide
===========================================================*/

/*==========================================================
    4. Slide Options
===========================================================*/

/*==========================================================
    5. Changing
===========================================================*/

/*==========================================================
    6. Bottom
===========================================================*/

/*==========================================================
    7. Footer
===========================================================*/